﻿@inherits  UmbracoViewPage



    <header class="special container">
        <span class="icon fa-bar-chart-o"></span>
        <h2>@Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("pageIntro"))</h2>
       
    </header>





