﻿@inherits UmbracoViewPage
<header>
    <h2>Blog Post</h2>
</header>
    <p>
        @(Umbraco.AssignedContentItem.HasProperty("title") &&
                                                                                        Umbraco.AssignedContentItem.GetPropertyValue("title") != null &&
                                                                                        !string.IsNullOrEmpty(Umbraco.AssignedContentItem.GetPropertyValue("title").ToString())
                                                                                        ? Umbraco.AssignedContentItem.GetPropertyValue("title")
                                                                                        : Umbraco.AssignedContentItem.Name)
    </p>

