﻿@inherits UmbracoViewPage



    <header class="special container">
        <span class="icon fa-rss"></span>
        <h2>@Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("pageIntro"))</h2>
    </header>
   
        
