﻿@inherits UmbracoViewPage

<section id="banner">

    <div class="inner">

        @{ Html.RenderAction("RenderBlogPostTitle", "Blog");}

        <footer>
            <ul class="buttons stacked">
                <li><a href="#main" id="whiteLink" class="button fit scrolly">Read The Blog</a></li>
            </ul>
        </footer>

    </div>

</section>
