﻿@model List<BlogPreview>

@using WebApplication1.Models


<div class="row">
    @foreach (BlogPreview article in Model)
    {
        @RenderBlogPreview(article);
    }
</div>


    @helper RenderBlogPreview(BlogPreview item)
    {
<div class="col-4 col-12-narrower">
    <section>
        <a href="@item.LinkUrl"><img class="image featured" src="@item.ImageUrl" alt="" /></a>
        <header>
            <h3>@item.Name</h3>
        </header>
        <p>@item.Introduction</p>
    </section>
        <footer>
            <ul class="buttons">
                <li><a href="@item.LinkUrl" class="button small">Learn More</a></li>
            </ul>
        </footer>
   
</div>
    }
