﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage 
        
<header class="special container">
<span class="icon fa-home"></span>
<h2>@Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("pageIntro"))</h2>
</header>

