﻿@inherits UmbracoViewPage

<section id="banner">

    <div class="inner">

       
            @{ Html.RenderAction("RenderTitleControls", "SiteLayout");}
       
        <footer>
            <ul class="buttons stacked">
                <li><a href="#main" id="whiteLink" class="button fit scrolly">Read More</a></li>
            </ul>
        </footer>

    </div>

</section>

