﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@{ Html.RenderAction("RenderBlogPost", "Blog");}
<article id="main">
    <section class="wrapper style4 container">
        @CurrentPage.GetGridHtml("contentGrid", "bootstrap3")
    </section>
</article>
