﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@{ Html.RenderAction("RenderIntro", "Home");}
<article id="main">
    @{ Html.RenderAction("RenderHome", "Home");}
    <section class="wrapper style4 container">
        @CurrentPage.GetGridHtml("contentGrid", "bootstrap3")
    </section>
</article>