﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Umbaro Page by Joona</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />


    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    
    <link rel="stylesheet" href="~/Css/navigation.css" />
    <link rel="stylesheet" href="~/Css/news.css" />
    <link rel="stylesheet" href="~/Css/home.css" />
    <link rel="stylesheet" href="~/Css/global.css" />
    <link rel="stylesheet" href="~/Css/main.css" />
    <noscript><link rel="stylesheet" href="~/Css/noscript.css" /></noscript>
</head>
    <body class="index is-preload">
        <div id="page-wrapper">
            @{ Html.RenderAction("RenderHeader", "SiteLayout");}
            @RenderBody()

            @{ Html.RenderAction("RenderFooter", "SiteLayout");}

            <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    </div>
    </body>
</html>