.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
	padding: 50px;
}

.image.featured {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.buttons {
    margin-bottom: 10px;
}