﻿<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/joona.kleemola" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/JoonaKleemol/" class="icon circle fa-github"><span class="label">Github</span></a></li>
       
    </ul>

    <ul class="copyright">
        <li>&copy; Joona Kleemola</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</footer>

