﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using WebApplication1.Models


<header id="header" class="alt">
    <h1 id="logo">Umbraco Page <span>by Joona Kleemola</span></h1>
    <nav id="nav">
        <ul>
            @RenderChildItems(Model)
        </ul>
    </nav>
</header>

@helper RenderChildItems(List<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li class="nav-item">
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url" class="nav-link @(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }
    }
}
