﻿@inherits UmbracoViewPage
<header>
    <h2>
        @(Umbraco.AssignedContentItem.HasProperty("title") &&
                                                            Umbraco.AssignedContentItem.GetPropertyValue("title") != null &&
                                                            !string.IsNullOrEmpty(Umbraco.AssignedContentItem.GetPropertyValue("title").ToString())
                                                            ? Umbraco.AssignedContentItem.GetPropertyValue("title")
                                                            : Umbraco.AssignedContentItem.Name)
    </h2>
</header>
<p>@Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("subTitle"))</p>

