﻿
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(getList);

    function getList() {
        
        ajaxReq = $.ajax({
            url: '/umbraco/Surface/Database/GetTestimonials',
            type: "GET",
            dataType: 'text',
            async: true,                
            success: function (result) {
                var JsonResult = JSON.parse(result)  
                
                    document.getElementById("WhoMadePost").innerHTML = JsonResult[0].postName + '<br>';
                    document.getElementById("DateAdded").innerHTML = JsonResult[0].datePosted + '<br>';
                    document.getElementById("PostContent").innerHTML = JsonResult[0].postContent;

                document.getElementById("WhoMadePost1").innerHTML = JsonResult[1].postName + '<br>';
                document.getElementById("DateAdded1").innerHTML = JsonResult[1].datePosted + '<br>';
                document.getElementById("PostContent1").innerHTML = JsonResult[1].postContent;
            },
            error: function () {
                console.log("Error");
            }
        });
       
    }

</script>

