﻿@inherits  UmbracoViewPage

<article id="main">

    <header class="special container">
        <span class="icon fa-paperclip"></span>
        <h2>@Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("pageIntro"))</h2>
        <p>
            @{ Html.RenderAction("RenderDatabaseText", "Database");}
        </p>
    </header>
    <section class="wrapper style4 container">
        <h2 id="WhoMadePost"></h2>
        <h3 id="DateAdded"></h3>
        <p id="PostContent"></p>
    </section>
    <section class="wrapper style4 container">
        <h2 id="WhoMadePost1"></h2>
        <h3 id="DateAdded1"></h3>
        <p id="PostContent1"></p>
    </section>


</article>